# Игнорируйте все в корне, за исключением каталога «WP-Content».
!wp-content/

# Игнорируйте все в каталоге «WP-Content», кроме:
# «Му-плагины», «Плагины», каталог «Темы»
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# игнорируйте эти плагины
wp-content/plugins/hello.php

# игнорировать конкретные темы
wp-content/themes/twenty*/

# Игнорировать каталоги зависимости узла
node_modules/

# Игнорировать файлы журнала и базы данных
*.log
*.sql
*.sqlite
